# **Aula 01 - Criando Objetos com Pandas (DataFrame e Series)**

# Importação da Biblioteca

In [4]:
import pandas as pd

Series é um array rotulado unidimensional capaz de conter qualquer tipo de dados (inteiros, strings, números de ponto flutuante, objetos Python, etc.). Os rótulos dos eixos são chamados coletivamente de índice.

pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [5]:
series = pd.Series([1,2,3,4,5,6,7,8,9])
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
series_2 = pd.Series({'a': 1, 'b': 2, 'c': 3})
series_2

a    1
b    2
c    3
dtype: int64

DataFrame é uma estrutura de dados tabulares bidimensionais, mutáveis ​​em tamanho e potencialmente heterogêneos.

A estrutura de dados também contém eixos rotulados (linhas e colunas).

pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

In [8]:
dicionario_um = {'Nome': ['Pedro', 'Ana', 'Karina', 'Patricia', 'Carlos', 'Felipe', 'José', 'Gustavo', 'Fernando'],
                 'Idade': [20, 21, 19, 18, 23, 21, 27, 30, 22]
                 }

In [9]:
dataframe = pd.DataFrame(dicionario_um)
dataframe.head(3)

     Nome  Idade
0   Pedro     20
1     Ana     21
2  Karina     19

In [10]:
lista = [['Pedro', 20], 
         ['Ana', 21],
         ['Karina', 19],
         ['Patricia', 18],
         ['Carlos', 23],
         ['Felipe', 21],
         ['José', 27],
         ['Gustavo', 30],
         ['Fernando', 22]
        ]

dataframe_lista = pd.DataFrame(lista)
dataframe_lista.head()

          0   1
0     Pedro  20
1       Ana  21
2    Karina  19
3  Patricia  18
4    Carlos  23


# **Aula 02 - Funções do Pandas - Parte I**

**Funções**
* **head**: Retorna as 5 primeiras linhas.
* **columns**: Os rótulos de coluna do DataFrame.
* **rename**: Altere os rótulos dos eixos.
* **index**: Obtém os índices (rótulos de linha) do DataFrame.
* **dtypes**: Retorna os tipos de dados presentes no DataFrame.
* **shape**: Retorna uma tupla representando a dimensionalidade do DataFrame.
* **info**: Imprime um resumo conciso de um DataFrame.
* **values**: Retorne uma representação Numpy do DataFrame.

In [11]:
dicionario = {'Nome': ['Pedro', 'Ana', 'Karina', 'Patricia', 'Carlos', 'Felipe', 'José', 'Gustavo', 'Fernando'],
              'Idade': [20, 21, 19, 18, 23, 21, 27, 30, 22]
                 }
df = pd.DataFrame(dicionario)

In [12]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana     21
2    Karina     19
3  Patricia     18
4    Carlos     23

In [13]:
df.columns

Index(['Nome', 'Idade'], dtype='object')

In [14]:
df.rename(columns={'Nome': 'Nome Completo'}, inplace=True)

In [15]:
df.head()

  Nome Completo  Idade
0         Pedro     20
1           Ana     21
2        Karina     19
3      Patricia     18
4        Carlos     23

In [16]:
df.rename(index={0: 'x', 1: 'y', 2: 'z'}, inplace=True)
df.head()

  Nome Completo  Idade
x         Pedro     20
y           Ana     21
z        Karina     19
3      Patricia     18
4        Carlos     23

In [17]:
df.rename(str.lower, axis='columns', inplace=True)
df.head()

  nome completo  idade
x         Pedro     20
y           Ana     21
z        Karina     19
3      Patricia     18
4        Carlos     23

In [18]:
df.index

Index(['x', 'y', 'z', 3, 4, 5, 6, 7, 8], dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, x to 8
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nome completo  9 non-null      object
 1   idade          9 non-null      int64
dtypes: int64(1), object(1)
memory usage: 216.0+ bytes

In [20]:
df.values

array([['Pedro', 20],
       ['Ana', 21],
       ['Karina', 19],
       ['Patricia', 18],
       ['Carlos', 23],
       ['Felipe', 21],
       ['José', 27],
       ['Gustavo', 30],
       ['Fernando', 22]], dtype=object)

# **Aula 03 - Funções do Pandas - Parte II**

**Funções**
* **reset_index**: Redefina os índices.
* **select_dtypes**: Retorna um subconjunto das colunas do DataFrame com base nos tipos de coluna.
* **drop**: Remove linhas ou colunas.
* **assign**: Atribue novas colunas a um DataFrame.
* **astype**: Converta um objeto pandas para um tipo especificado.
* **value_counts**: Retorna uma série contendo contagens de linhas exclusivas no DataFrame.