#### Exercício 

Muitas vezes os dados que você irá acessar virão no formato de dicionários.

**Crie  um DataFrame usando o dicionário abaixo e  use a lista rótulos(também abaixo) como índice.**

In [1]:
import pandas as pd

In [2]:
exam_data = {'nome': ['Sandra', 'Carlos', 'Regiane', 'Cesar', 'Eliana', 'Marcelio', 'Marcos', 'Leandra', 'Roberto', 'João'],
'pontuação': [10, 9, 6.5, 8.7, 9, 6.8, 9.5, 5, 8, 4],
'tentativas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'aprovado': ['sim', 'sim', 'não', 'sim', 'sim', 'não', 'sim', 'não', 'sim', 'não']}

rotulos = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**crie o dataframe:**

In [7]:
df = pd.DataFrame(exam_data)
df.index = rotulos

**visualize algumas linhas da  tabela que você criou**

In [8]:
df.head(5)

      nome  pontuação  tentativas aprovado
a   Sandra       10.0           1      sim
b   Carlos        9.0           3      sim
c  Regiane        6.5           2      não
d    Cesar        8.7           3      sim
e   Eliana        9.0           2      sim

**mude o nome da coluna pontuação para notas**

---

In [9]:
df.rename(columns={'pontuação': 'notas'}, inplace = True)
df

       nome  notas  tentativas aprovado
a    Sandra   10.0           1      sim
b    Carlos    9.0           3      sim
c   Regiane    6.5           2      não
d     Cesar    8.7           3      sim
e    Eliana    9.0           2      sim
f  Marcelio    6.8           3      não
g    Marcos    9.5           1      sim
h   Leandra    5.0           1      não
i   Roberto    8.0           2      sim
j      João    4.0           1      não

**Imprima informações basicas do dataframe que você criou**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        10 non-null     object
 1   notas       10 non-null     float64
 2   tentativas  10 non-null     int64
 3   aprovado    10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**Imprima as colunas do seu dataframe**

In [12]:
df.columns

Index(['nome', 'notas', 'tentativas', 'aprovado'], dtype='object')