In [1]:
# importação da base de dados
import pandas as pd

In [2]:
netflix = pd.read_csv('titles.csv')

### Tabela de Frequênciaa - Método 1 - Listas

In [4]:
# Gerar a lista de paises
lista_paises = list(netflix['production_countries'])
lista_paises_unicos = list(set(netflix['production_countries']))

In [6]:
# Fazer contagem de todos os paises

freq = []
for pais in lista_paises_unicos:
    freq.append(lista_paises.count(pais))

freq

[124, 103, 210, 219, 159, 1950, 266, 605]

In [7]:
# Criar tabela com os valores

tab_frequencia = {'País': lista_paises_unicos, 'Frequência': freq}
tab_frequencia = pd.DataFrame(data=tab_frequencia)
tab_frequencia

     País  Frequência
0  ['FR']         124
1  ['CA']         103
2  ['KR']         210
3  ['GB']         219
4  ['ES']         159
5  ['US']        1950
6  ['JP']         266
7  ['IN']         605

In [8]:
# Frequência Acumulada

freq_acumulada = tab_frequencia['Frequência'].cumsum()
freq_acumulada

0     124
1     227
2     437
3     656
4     815
5    2765
6    3031
7    3636
Name: Frequência, dtype: int64

In [9]:
# Frequência Percentual

freq_percentual = tab_frequencia['Frequência'] /  tab_frequencia['Frequência'].sum() * 100
freq_percentual

0     3.410341
1     2.832783
2     5.775578
3     6.023102
4     4.372937
5    53.630363
6     7.315732
7    16.639164
Name: Frequência, dtype: float64

In [11]:
# Unir na mesma tabela

tab_frequencia['freq_acum'] = freq_acumulada
tab_frequencia['%'] = freq_percentual
tab_frequencia

     País  Frequência  freq_acum          %
0  ['FR']         124        124   3.410341
1  ['CA']         103        227   2.832783
2  ['KR']         210        437   5.775578
3  ['GB']         219        656   6.023102
4  ['ES']         159        815   4.372937
5  ['US']        1950       2765  53.630363
6  ['JP']         266       3031   7.315732
7  ['IN']         605       3636  16.639164

### Tabela de Frequência  - Metodo 2 - Função Pandas

In [12]:
# Função value_count()

tab_frequencia2 = netflix['production_countries'].value_counts()

In [13]:
# Transformar em Dataframe e nomear coluna

tab_frequencia2 = pd.DataFrame(tab_frequencia2)
tab_frequencia2.columns = ['Frequência']
tab_frequencia2

        Frequência
['US']        1950
['IN']         605
['JP']         266
['GB']         219
['KR']         210
['ES']         159
['FR']         124
['CA']         103

In [14]:
# Gerar Percentuais

tab_frequencia2['%'] = netflix['production_countries'].value_counts(normalize=True)*100

tab_frequencia2

        Frequência          %
['US']        1950  53.630363
['IN']         605  16.639164
['JP']         266   7.315732
['GB']         219   6.023102
['KR']         210   5.775578
['ES']         159   4.372937
['FR']         124   3.410341
['CA']         103   2.832783

In [15]:
# Mais de uma coluna

netflix[['production_countries', 'type']].value_counts(normalize=True, ascending=False)*100

production_countries  type
['US']                MOVIE    33.168317
                      SHOW     20.462046
['IN']                MOVIE    15.456546
['JP']                SHOW      4.565457
['KR']                SHOW      4.537954
['GB']                SHOW      3.520352
['JP']                MOVIE     2.750275
['ES']                MOVIE     2.585259
['GB']                MOVIE     2.502750
['FR']                MOVIE     1.952695
['ES']                SHOW      1.787679
['CA']                MOVIE     1.567657
['FR']                SHOW      1.457646
['CA']                SHOW      1.265127
['KR']                MOVIE     1.237624
['IN']                SHOW      1.182618
dtype: float64